*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --backgroud-color:#f0edb8;
    --main-color:#ffbd59;
    --content-color:#737373;
    --title-color:#373741;
    --skillSpan:#f16520;
}
body{
    margin: 0 ;
    background-color: var(--title-color);
}
.contact{
    display: flex;
    min-width: 40px;
    flex-direction: column;
    position: fixed;
    right: 40px;
    text-align: right;
    top: 50%;
    transform: translate(0%, -50%);
}
.contact .telephone{
    position: relative;
}
.contact .telephone > span{
    height: auto;
    position: absolute;
    left: 40px;
    visibility: hidden;
    bottom: 5px;
    transition: left 0.5s;
}
.contact .telephone:hover > span{
    position: absolute;
    visibility: visible;
    left: -80px;
    bottom: 10px;
}
.contact .telephone > img{
    position: absolute;
    bottom: 5px;
    right: 0px;
    transition: all 0.5s;
}
.contact .telephone:hover img{
    position: absolute;
    right: 125px;
    bottom: 0px;
}
.contact a{
    margin-bottom: 10px;
    color: var(--main-color);
    font-size: 24px;
    text-decoration: none;  
}
.contact a:hover img{
    width: 40px;
}
.contact a:nth-child(3),.contact a:nth-child(4){
    margin-bottom: 15px;
}
.profile{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 130px;
    z-index: -1;
}
.info{
    display: flex;
    align-items: baseline;
    position: relative;
    z-index: -1;
}
#img{
    width: 120px;
    height:120px;
    position:relative;
    overflow:hidden;
    right: 60px;
    top: 60px;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid #fff;
}
#img>img{
    width:100%;
    height:auto;
    position: absolute;
    bottom:1px;
}
.personal{
   position: absolute;
   bottom: 0;
   left: 80px; 
}
.name{
    color:var(--main-color);
    font-size: 28.6px;
    font-weight: bold;
    margin-right: 5px;
}
.job{
    color:var(--backgroud-color);
    font-size: 15px;
    font-weight: bold;
}
.firstSection{
    display:flex;
    border: 5px solid var(--main-color);
    border-radius: 5px 5px 0 0;
    position: relative;
    background-color: var(--backgroud-color);
    z-index: -2;
}
.about{
    border:5px solid var(--main-color);
    position: absolute;
    left:-43px;
    /*垂直置中 position:absolute;top:0;bottom:0;margin:auto*/
    top: 30px;
    bottom: 0;
    margin: auto;
    height: 150px;
    border-radius:5px;
    color:var(--main-color);
    font-size: 16px;
    font-weight: bold;
    padding:20px 10px; 
    line-height: 35px;
    border-right-width: 0;
}
.container{
    width: 100%;
    padding: 70px 10px 70px 40px;
}
.title{
    font-size: 22px;
    font-weight: bold;
    color:var(--title-color);
    margin-bottom: 10px;
}
.content{
    color: var(--content-color);
    font-weight: bold;
    width: 90%;
    text-align: justify;
    
}
.secondSection{
    border: 5px solid var(--main-color);
    border-top: transparent;
    position: relative;
    background-color: var(--backgroud-color);
}
.education,.experience{
    border:5px solid var(--main-color);
    position: absolute;
    left:-43px;
    /*垂直置中 position:absolute;top:0;bottom:0;margin:auto*/
    top: 0;
    bottom: 0;
    margin: auto;
    height: 110px;
    border-radius:5px;
    color:var(--main-color);
    font-size: 16px;
    font-weight: bold;
    padding:18px 10px; 
    line-height: 35px;
    z-index: -1;
}
.schoolInfo{
    padding: 35px 87px 35px 35px;
}
.highSchool,.company{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.school,.companyInfo{
    display:flex;
    justify-content: space-between;
}
.university{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}
.schoolName,.companyName{
    color: var(--title-color);
    font-weight:bold;
    white-space: nowrap;
}
.class,.carer{
    color:  var(--content-color);
    font-weight: bold;
}
.date{
    color: var(--title-color);
    font-size: 12px;
    /* width: 70.68px; */
    text-align: end;
}
.workInfo{
    flex-wrap: wrap;
}
.workInfo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 35px 87px 0px 35px;
}
.workList{
    width: 100%;
    padding: 0 87px 0 105px;
}
.thirdSection{
    display: flex;
    border: 5px solid var(--main-color);
    border-top: transparent;
    position: relative;
    background-color: var(--backgroud-color);
    flex-wrap: wrap;
}
.skill{
    border:5px solid var(--main-color);
    position: absolute;
    left:-43px;
    /*垂直置中 position:absolute;top:0;bottom:0;margin:auto*/
    top: 0;
    bottom: 0;
    margin: auto;
    height: 180px;
    border-radius:5px;
    color:var(--main-color);
    font-size: 16px;
    font-weight: bold;
    padding:50px 10px; 
    line-height: 35px;
    z-index: -1;
}
.webContainer{
    flex: 1;
    padding: 30px 10px 30px 40px;
}
.separate{
    border: 3px solid var(--content-color);
    border-radius: 5px;
    background-color:  var(--content-color);
    width: 250px;
    text-align: left;
    margin-left: 0;
}
.skillBar{
    display: flex;
    margin-top: 25px;
    align-items: center;
}
.progressBarFontEnd,.progressBarjquery,.progressBarPS,
.progressBarJsp,.progressBarMssql,.progressBarReact{
    background: #333;
    border-radius: 13px;
    height: 25px;
    width: 50%;
    overflow: hidden;
}
.progressBarJsp,.progressBarMssql{
    margin-left: 10px;
}
.progressBarFontEnd::after,.progressBarjquery::after,.progressBarPS::after
,.progressBarJsp::after,.progressBarMssql::after,.progressBarReact::after{
    content: '';
    display: block;
    background: orange;
    width: 80%;
    height: 100%;
    border-radius: 9px;
}
.progressBarjquery::after{
    width: 40%;
}
.progressBarPS::after{
    width: 50%;
}
.progressBarJsp::after{
    width: 50%;
}
.progressBarMssql::after{
    width: 50%;
}
.progressBarReact::after{
    width: 40%;
}
.fourthSection{
    border: 5px solid var(--main-color);
    border-top: transparent;
    border-radius: 0 0 5px 5px ;
    position: relative;
    background-color: var(--backgroud-color);
    padding: 40px;
}
.web{
    border:5px solid var(--main-color);
    position: absolute;
    left:-43px;
    top:100px;
    height: 220px;
    border-radius:5px;
    color:var(--main-color);
    font-size: 16px;
    font-weight: bold;
    padding:50px 10px; 
    line-height: 35px;
    z-index: -1;
}
.work{
    display: flex;
    width: 100%;
    margin: 35px 0 ;
    flex-wrap: wrap;
}
.work>div:nth-child(1)>a>img{
    width: 400px;
    height: auto;
    border-radius: 5px;
}
.webWork{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 40px;
}
.webWork>h1{
    margin: 0;
}
.workSkill{
    margin: 10px 0;
}
.workSkill>span{
    border: 2px solid var(--main-color);
    color: var(--skillSpan);
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}
.webWork>ol{
    padding: 0 0 0 20px;
    line-height: 35px;
}
ul{
    list-style-type: disc;
    font-weight: bold;
}
li{
    color: var(--content-color);
    font-weight: bold;
}
#goTop{
    background-color: var(--main-color);
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 15px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

/* RWD */
@media (max-width:1290px){
    .contact{
        position: absolute;
        flex-direction: initial;
        transform:initial;
        top: 15px;
        right: 10px;
        align-items: center;
        justify-content: space-around;
        width: 200px;
    }
    .contact .telephone > img {
        bottom: -10px;
    }
    .contact .telephone:hover img{
        bottom: -15px;
    }
    .contact .telephone > span{
        left: 0px;
    }
    .contact .telephone:hover > span{
        left: -120px;
        bottom: -13px;
    }
    .contact a:nth-child(4) {
        margin-left: -6px;
    }
}
@media (max-width:1024px) {
    .profile{
        max-width: 600px;
    }
    .container{
        width: 100%;
    }
    .firstSection > div:nth-child(3){
        padding: 20px 10px 20px 40px;
    }
    .webWork{
        margin: 0;
    }
}

@media (max-width:768px) {
    .profile{
       width: 80%;
    }
    #img{
        right: 30px;
    }
    .personal{
        left: 110px;
    }
}

@media (max-width:436px) {
    .profile{
        position: absolute;
        right: 23px;
    }
    #img{
        right: 20px;
    }
    .personal{
        left: 110px;
    }
    .job{
        display: block;
        margin-left: 45px;
    }
    .date{
        text-align: left;
        margin-left: 50px;
        margin-top: 3px;
    }
    .separate {
        width: 180px;
    }
    .fourthSection{
        padding: 20px ;
    }
    .contact .telephone > span{
        display: none;
    }
    .contact .telephone:hover img{
        position: initial;
    }
    .contact a:hover img{
        width: 30px;
    }
    .workList>li{
        width: 190px;
    }
    .work>div:nth-child(1)>a>img{
        width:  100%;
    }
    .workSkill{
        line-height: 35px;
    }
    .work:nth-child(2)>.webWork>ol>li:nth-child(3){
        width: 250px;
    }
}
@media (max-width:375px) {
    .workList{
        padding-left: 60px;    
    }
    .work:nth-child(2)>.webWork>ol>li:nth-child(3){
        width: 75%;
    }
}